*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, sans-serif;
    margin: 0;
}

.header{
    margin: 0;
    text-align: center;
    padding: 20px;
    background-image: url(sarapabg.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    color: white;
}

.navbar{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    position: -webkit-sticky; /* Ensures nav bar compatibility with Safari */
    position: sticky;
    z-index: 10;
    top: 0;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(54, 94, 163);
}

.navbar li{
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.navbar li a:hover{
    background-color: rgb(101, 218, 179);
}

.name{
    text-align: center;
    border: 1px solid red;
    margin: 50px;
}

.desc{
    display: flex;
    border: 1px solid blue;
    margin-left: 100px;
    margin-right: 100px;

    height: 30%;
    justify-content: center;
    gap: 50px;
}

.desc-img{
    width: 100%;
    max-width: 200px;
    height: auto;
}

.descinfo{
    font-size: 20px;
    border: 1px solid green;
    flex-basis: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bottom{
    margin: 50px;
    border: 1px solid orange;
    display: flex;
    padding: 50px;
}

.ingredients{
    background-color: lightgrey;
    border: 1px solid pink;
    flex-basis: 30%;
    margin-right: 25px;
}

.instructions{
    background-color: lightgrey;
    border: 1px solid purple;
    flex-basis: 70%;
    margin-left: 25px;
}

.steps{
    background-color: white;
    border: 1px solid hotpink;
    margin: 50px;
    font-size: larger;
}

.strikethrough:checked + label{
    text-decoration:line-through
}

.checkbox{
    background-color: white;
    padding-left: 25px;
    padding-top: 10px;
    border: 1px solid green;
    margin: 50px;
}

label:hover{
    color: red;
    font-size: 24px;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    align-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: white;
    color: black;
}
  
.flip-card-back {
    text-align: center;
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}

.time {
    border: 1px solid blue;
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    text-align: center;
}