/* Color palette:
#3C3C3C - charcoal
#E0DDCF - bone
#F1F0EA - white-ish color
#AF7A6D - muted red-brown
#B6465F - raspberry rose
*/

*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: #F1F0EA;
}

h2 {
    font-family: "Zain", sans-serif;
    font-size: 30px;
    color: #B6465F;
}

.header{
    margin: 0;
    text-align: center;
    padding: 20px;
    background-color: #B6465F;
    color: #F1F0EA;
    font-family: "Zain", sans-serif;
    font-size: 35px;
}

.navbar{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
    position: -webkit-sticky; /* Ensures nav bar compatibility with Safari */
    position: sticky;
    z-index: 10;
    top: 0;
    box-shadow: 0px 2px 10px -5px #3C3C3C;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d5627b;
}

.navbar li{
    float: left;
    font-family: "Inter", sans-serif;
}

.navbar li a{
    display: block;
    color: #F1F0EA;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.navbar li a:hover{
    background-color: #B6465F;
}

.scrolling-gallery{
    background-color: #3C3C3C;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 50px;
}

.scrolling-gallery img{
    padding: 10px;
    width: 500;
    height: 300;
}

.name{
    text-align: center;
    margin: 30px;
    font-family: "ABeeZee", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #B6465F;
}

.desc{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.desc-img{
    width: 100%;
    max-width: 200px;
    height: auto;
}

.descinfo{
    font-size: 20px;
    flex-basis: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
}

.bottom{
    margin: 50px;
    display: flex;
    padding: 50px;
}

.ingredients{
    border: 3px solid #B6465F;
    flex-basis: 30%;
    margin-right: 25px;
}

.instructions{
    flex-basis: 70%;
    margin-left: 25px;
}

.instructions li {
    font-family: "Inter", sans-serif;
}

.steps {
    margin: 50px;
    font-size: larger;
}

.strikethrough:checked + label{
    text-decoration:line-through;
    color: #B6465F;
}

.checkbox{
    padding-left: 25px;
    padding-top: 0px;
    margin: 50px;
    font-family: "Inter", sans-serif;
}

label:hover{
    color: #B6465F;
    font-size: 24px;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    align-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #F1F0EA;
    color: black;
}
  
.flip-card-back {
    text-align: center;
    background-color: #F1F0EA;
    color: black;
    transform: rotateY(180deg);
}

.time {
    margin-top: 5px;
    margin-bottom: 5px;
    align-content: center;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.dietlabels {
    display: inline-block;
    color: #F1F0EA;
    padding: 8px 10px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.vegetarian {
    background-color: #58a458;
}

.vegan {
    background-color: #9d6e62;
}

.divider {
    border-top: 1px solid #AF7A6D;
}
