* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}


header {
    width: 100%;
    text-align: center;
    font-size: 120px;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

.navbar {
    background-color: #333;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu > li {
    position: relative;
    margin-right: 20px;
}

.dropbtn {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    background-color: #333;
}

.dropbtn:hover {
    background-color: #555;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #f9f9f9;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 460px;
    margin-top: 50px;
}

.img-contain-category{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    width: 45%;
    margin-top: 50px;
    border: 1px solid blue;
}

.container1 {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    margin-top: 40px;
    border-radius: 12px;
}

.container-category {
    width: 200px;
    height: 260px;
    overflow: hidden;
    position: relative;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.5s ease, filter 0.5s ease;

}

.image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.container1:hover .image1 {
    transform: scale(1.2);
    filter: grayscale(100%);
}

.container-category:hover{
    transform: scale(1.2);
    filter: grayscale(100%);
}